#canvasPane {
    left: 0%;
    height: 100%;
    width: 70%;
    position: absolute;
}

#textPane {
    height: 100%;
    width: 30%;
    right: 0%;
    position: absolute;
    border-left: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;

    font-family: sans-serif;
    font-size: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 24px;
}

#canvas {
}

table {
    background-color: #ededed;
    width: 100%;
}

table tr th {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table tr td {
    text-align: center;
}


#explain {
    text-align: justify;
}

#explainBox {
    font-family: Courier New, monospace;
    font-size: 12px;
    left: 10px;
    border: 1px solid black;
    Overflow-y: scroll;
    background-color: rgba(255, 0, 0, 0.2);
    color: black;
    visibility: hidden;
    height: 20%;
}

#solTable {
    width: 100%;
}

#solTable td {
    width: 30%; 
    text-align: center;
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 30px;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}

#footer {
    position: fixed;
    bottom: 0;
}
